@import '../../../styles/settings.scss';

.component {
    padding: $base-size;
}

.header {
    text-align: center;
}
.paper {
    text-align: center;
    padding: 2px;
    height: 300px;
    min-width: 300px;
}